QMainWindow {
    background-color: #f0f0f0;
}
QPushButton {
    background-color: #6ec259;
    border-radius: 15px;
    padding: 15px;
    font-weight:bold;
    font-size: 15px;

}

QLabel#imageArea {
    border: 2px dashed rgb(95, 95, 95);
    border-radius: 12px;
    background-color: #f9f9f9;
}